
.ipynb_checkpoints/functions-checkpoint.py
.ipynb_checkpoints/Main-checkpoint.py
.ipynb_checkpoints/Old_main020424-checkpoint.py
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/functions.cpython-311.pyc
Old_main020424.py
Untitled.ipynb
